extends layout

block content
    script
        include ../ajax/circle_ajax.js
    h1 Circle Name : #{circlename}
    <div class="container-fluid navbar-inverse">
        <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#circlenavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="circlenavbar">
            <ul class="nav navbar-nav">
                <li><a href="#members">Members</a></li>
                <li><a href="#ranking">Rankings</a></li>
            </ul>
        </div>
    </div>
    <div id="members"></div>
    <div id="ranking"></div>
    <div id="statistics"></div>

    div.form-group(id = "add" hidden)
        label(for='name') Username : 
        input(type="text",id="newuser", name= "newuser" , placeholder='Enter User Name of New User')
        button.btn.btn-primary(id="newuser_submit") Add Member
        br 
        br

