extends layout

block content
    h1 Here are your circles
    ol
        each circle in circles
            li
                a(role="button" class="btn btn-primary" id="circs" href='/circle/'+circle.id) #{circle.name}
                br
                br

    br
    div.form-group
        label(for='name') Circle Name : 
        input(type="text",id="circlename", name= "circlename" , placeholder='Enter Circle Name ')
        button.btn.btn-primary(type='submit' id="submit") Create Circle

    script.
        $("#submit").click(function(){
            var circlename= $("#circlename").val();
            if(circlename == '')
            {
                alert("Circle name cannot be empty")
            }
            else
            {
                var request = $.ajax({
                url: window.location.origin+"/circles",
                method: "POST",
                dataType: "text",
                data:{
                    circlename:circlename
                },
                success : function(data){
                    alert('New Group created')
                    location.reload()
                }
            });

            }
                        });
            
        
