extends layout
block content
  body
    h2 Welcome to the CollabGoals ! your one stop for planning the most productive day ever!
    br
    h1 Do you feel like a little competition in the day could help you stay on your toes? You have come to the right place!
    h1 Create a to-do list using our awesome interface!
    h1 Create a group with your closest friends!
    h1 Check rankings of the most productive person in your group!
    br
    h2 What sets us apart? We provide the right environment for maximum productivity!

