extends layout
block content
  body
    
    center
      h1 Welcome to the CollabGoals ! 
      h2 Your one stop for planning the most productive day ever and have fun at the same time!
    br
    br
    h2
      b What we offer?
    ul
      li
        h3 Do you feel like a little competition in the day could help you stay on your toes? That's what we primarily offer. "COMPETITION"
      li
        h3 Create a to-do list using our awesome interface!
      li
        h3 Create a friend's circle!
      li
        h3 Share your to-do-lists! And at the same time, have your own privacy. 
      li
        h3 Check who is the most-productive friend!


    h2 
      b How to use?
    ul 
      li 
        h3 Create your account
      li 
        h3 Create your friend's circle or ask your freinds to add you to an existing one
      li
        h3 Check rankings in your friend's circle
      li
        h3 That is it! Start competing and get more productive for real.

    h2
      b Hate our user interface?
    h3
      i We were too lazy for embellishments! Hopefully we too will improve with this website! Hang in there !
    br
    br
    h3 What sets us apart? We provide the right environment for maximum productivity!
