<nav class="navbar navbar-default">
  <div class="container-fluid navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="favicon.ico" width="30" height="30" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="../profile">Profile</a></li>
        <li><a href="../circles">Circles</a></li>
        <li><a href="../requests">Requests</a></li>
        <li><a href="../to_do_list">To-do-list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../login">Login</a></li>
        <li><a href="../signup">Sign Up</a></li>
        <li><a href="../logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>