extends layout

block content
  h1 #{title}

  form(method="POST", action='')
    div.form-group
      label(for='name') Enter Name :
      input#name.form-control(type='text', placeholder='Enter Name Here' name='name1' value=(undefined===person ? '' : person.name))
      if visible
        label(class="text-danger") **Username already taken
    button.btn.btn-primary(type='submit') Create User
    
    
  if errors 
    ul
      for error in errors
        li!= error.msg